# Dependências do Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de ambiente
.env
.env.local
.env.*.local

# Diretórios de build
dist/
build/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Pasta de cache
.cache/